body {
    margin: 0;
    width: 100%;
    background-color: #8355A7;
}

nav {
    height: 10vh;
    width: 100%;
    background-color: black;
}

.one {
    background-color: black;
    width: 100%;
}

.main {
    width: 100%;
}

.two {
    background-color: black;
    width: 100%;
}

@media screen and (max-width: 921px) {
    nav {
        height: 8vh;
        width: 90%;
        background-color: #a277ff7e;
        border-radius: 30px;
        margin-top: 2vh;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2vh;
        position: absolute;
    }
    .one {
        height: 20vh;
        width: 100%;
    }
    .main {
        height: 60vh;
    }
    .two {
        height: 20vh;
        width: 100%;
    }
}
